# Server
PORT=8080
GRACEFUL_TIME=10s
ENVIRONMENT=local

# Telemetry (OpenTelemetry)
# Leave OTEL_EXPORTER_ENDPOINT empty to disable trace export
OTEL_EXPORTER_ENDPOINT=localhost:4317
OTEL_INSECURE=true
